.passwords {
	max-width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	top: 50%;

	position: fixed;
	left: 50%;
	margin-left: -400px;
	margin-top: -300px;
}

.passwords-content input {
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}
.passwords__two {
	text-align: center;
	margin-bottom: 200px;
}

.passwords__five {
	text-align: center;
	margin-top: 200px;
}

.passwords__three-and-four {
	display: flex;
	justify-content: space-between;
}

.error {
	border-color: red;
}
